# --- CONFIGURATION LOGER SÉNÉGAL (LOGER SÉNÉGAL) ---

# Sécurité Django
# Générez une clé solide ou gardez celle-ci (mais NE LA DIFFUSEZ PAS)
SECRET_KEY=django-insecure-^gda*3#uhe6a6$lb#l23y*=_m-9%c&54(!pp*(rp_v%pn@^%gx

# DEBUG: False en production
DEBUG=False

# Base de Données (MySQL O2switch)
DB_NAME=gaak4328_loger_app
DB_USER=gaak4328_loger_app
DB_PASSWORD=5KMtFH-8kz3PgtJ
DB_HOST=localhost
DB_PORT=3306

# Email (SMTP O2switch)
EMAIL_PASSWORD=-P7GvVHJ2RmjnTG

# URL du site (pour redirection et emails)
SITE_URL=https://logersenegal.com
