# Configuration O2switch / Passenger
PassengerEnabled on
PassengerAppRoot /home/gaak4328/logersenegal.com
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerPython /home/gaak4328/virtualenv/logersenegal.com/3.11/bin/python

# Forcer l'application sur toute la racine
PassengerBaseURI /

# Empêcher l'affichage du code source
RewriteEngine On
RewriteBase /
RewriteRule ^passenger_wsgi\.py$ - [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ passenger_wsgi.py [QSA,L]
