{% extends 'emails/base_email.html' %}

{% block content %}
    <h2 style="color: #0b4629; margin-bottom: 20px;">Vérification de sécurité</h2>
    <p>Bonjour {{ user.get_full_name }},</p>
    <p>Pour finaliser votre action sur Loger Sénégal, veuillez utiliser le code de vérification à usage unique (OTP) ci-dessous :</p>
    
    <div style="text-align: center;">
        <div class="otp-code">{{ otp_code }}</div>
    </div>
    
    <p>Ce code est valable pendant 10 minutes. Ne le partagez jamais avec qui que ce soit, même une personne prétendant être de Loger Sénégal.</p>
    
    <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail en toute sécurité.</p>
    
    <p>L'équipe technique Loger Sénégal.</p>
{% endblock %}
