# Fichier de configuration locale (Hébergement O2switch)
# Copiez ce contenu dans logersenegal/local_settings.py sur votre serveur

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'gaak4328_loger_app',
        'USER': 'gaak4328_loger_app', 
        'PASSWORD': '5KMtFH-8kz3PgtJ', 
        'HOST': 'localhost',
        'PORT': '3306',
        'OPTIONS': {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES', NAMES 'utf8mb4'",
            'charset': 'utf8mb4',
        }
    }
}

DEBUG = False
ALLOWED_HOSTS = ['logersenegal.com', 'www.logersenegal.com']
